<section class="flex flex-col md:flex-row gap-5 p-5 py-10 md:py-24">
  <h2 class="flex-1 text-emerald-900 text-3xl font-bold">
    Mengapa harus kontainer?
  </h2>

  <!-- card item -->
  <div class="flex-1 rounded-md bg-emerald-600 p-4">
    <div class="flex gap-3 items-center">
      <p class="text-6xl font-bold text-emerald-300">1</p>
      <p class="text-xl font-bold text-white leading-tight">
        Fleksibilitas dan Efektivitas
      </p>
    </div>
    <p class="text-white mt-4">
      Kontainer mudah dimodifikasi sesuai keinginan pemilik dan dapat
      dipindahkan dengan mudah.
    </p>
  </div>

  <!-- card item -->
  <div class="flex-1 rounded-md bg-emerald-600 p-4">
    <div class="flex gap-3 items-center">
      <p class="text-6xl font-bold text-emerald-300">2</p>
      <p class="text-xl font-bold text-white leading-tight">
        Pilihan Harga dan Kondisi yang Beragam
      </p>
    </div>
    <p class="text-white mt-4">
      Kontainer tersedia dalam berbagai kondisi (baru, bekas, atau modifikasi)
      dan ukuran (20 feet, 40 feet) dengan rentang harga yang beragam.
    </p>
  </div>

  <!-- card item 3-->
  <div class="flex-1 rounded-md bg-emerald-600 p-4">
    <div class="flex gap-3 items-center">
      <p class="text-6xl font-bold text-emerald-300">3</p>
      <p class="text-xl font-bold text-white leading-tight">
        Praktis dan Mobilitas Tinggi
      </p>
    </div>
    <p class="text-white mt-4">
      Kontainer sangat praktis karena mudah dipindahkan dari satu tempat ke
      tempat lain, menjadikannya solusi ideal untuk proyek sementara atau yang
      memerlukan mobilitas tinggi.
    </p>
  </div>
</section>
