<header
  class="md:p-10 py-0 md:py-40 flex flex-col-reverse md:flex-row gap-5 md:gap-10 items-center relative bg-emerald-50 bg-opacity-50"
>
  <div class="flex flex-col gap-5 md:gap-10 flex-1 px-4 md:px-10 pb-20">
    <h1 class="text-5xl md:text-6xl font-light text-emerald-800 max-w-[600px]">
      Jual Kontainer Baru & Bekas Jabodetabek
    </h1>
    <p class="text-lg leading-snug font-light">
      Pusat penjualan container segala kondisi. Kami menyediakan container baru,
      bekas ataupun modifikasi dengan jenis dan harga yang beragam. Container
      merupakan salah satu solusi tepat untuk membuat kantor usaha, tempat
      makan, cafe dll.
    </p>

    <div class="flex flex-col md:flex-row gap-2">
      <a
        href="whatsapp://send?phone=6281383392512&text=www.jayakontainer.com,%20Perusahaan%20kontainer%20yang%20sudah%20teruji%20Tsunami%20Anyer."
        class="flex-1 w-full"
      >
        <button
          class="h-16 flex gap-2 items-center justify-center p-3 rounded-full bg-emerald-600 w-full hover:bg-emerald-800"
        >
          <img
            src="/assets/graphic/ic-whatsapp.svg"
            alt="Whatsapp logo"
            class="h-full"
          />
          <p class="text-white font-medium text-xl">Contact Us</p>
        </button>
      </a>

      <a href="/" class="flex-1 w-full">
        <button
          class="h-16 p-3 rounded-full border hover:bg-emerald-200 border-emerald-600 text-emerald-600 w-full text-center text-xl"
        >
          Lihat Katalog</button
        ></a
      >
    </div>
  </div>

  <!-- <div class="flex-1 px-0 md:px-4">
    <img
      class="aspect-[16/10] rounded-none md:rounded-2xl"
      src="/assets/hero-img-jayakon-jual-beli-kontainer-bekas-dan-baru.jpg"
      alt="JAYAKON | Jual beli kontainer bekas dan baru jabodetabek"
    />
  </div> -->

  <div class="flex-1 px-0 md:px-4">
    <div id="carouselExample" class="carousel slide w-full aspect-[16/10]">
      <div class="carousel-inner h-full">
        <div class="carousel-item active h-full">
          <img
            src="/assets/hero-img-jayakon-jual-beli-kontainer-bekas-dan-baru.jpg"
            class="block h-full w-full object-cover rounded-none md:rounded-xl"
            alt="..."
          />
        </div>
        <div class="carousel-item h-full">
          <img
            src="/assets/hero-2.jpg"
            class="block h-full w-full object-cover rounded-none md:rounded-xl"
            alt="..."
          />
        </div>
        <div class="carousel-item h-full">
          <img
            src="/assets/hero-3.jpg"
            class="block h-full w-full object-cover rounded-none md:rounded-xl"
            alt="..."
          />
        </div>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <img
          class="w-10 md:w-14 bg-emerald-900"
          src="/assets/graphic/ic-left-arrow.svg"
          alt=""
        />
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <img
          class="w-10 md:w-14 bg-emerald-900"
          src="/assets/graphic/ic-right-arrow.svg"
          alt=""
        />
      </button>
    </div>
  </div>
</header>
