---
import CatalogCard from "./CatalogCard.astro";
const allKontainers = await Astro.glob("../../pages/kontainer/*.md");

console.log(allKontainers);
---

<style>
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
</style>

<section class="p-5 md:p-10 py-20 md:py-40 bg-emerald-950" id="katalog">
  <div class="mb-10">
    <h2 class="text-5xl font-bold text-white mb-5">Katalog Kontainer Kami</h2>
    <p class="max-w-screen-sm text-white font-light">
      Kami menyediakan beragam kontainer dalam berbagai kondisi, baik baru
      maupun bekas, serta modifikasi yang sesuai dengan kebutuhan Anda. Tersedia
      ukuran 20 feet dan 40 feet dengan pilihan harga yang bervariasi. Kontainer
      kami ideal untuk berbagai keperluan seperti kantor, cafe, gudang, atau
      tempat sementara, dengan keunggulan mudah dimodifikasi dan dipindahkan.
    </p>
  </div>
  <div class="custom-grid gap-10">
    {
      allKontainers.map((i) => {
        return (
          <CatalogCard
            type={i.frontmatter.type}
            height={i.frontmatter.height}
            image={i.frontmatter.image}
            link={i.url}
          />
        );
      })
    }
  </div>
</section>
