<nav class="bg-emerald-950 h-20 flex justify-between p-5 fixed z-50 w-full">
  <a href="/">
    <img
      src="/assets/logo-jayakon-color.png"
      alt="Official logo of JAYAKON"
      class="w-40 object-cover"
    />
  </a>
</nav>
